.centerWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.headline {
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.brand {
  display: inline-flex;
  align-items: center;
}

.logo {
  height: 28px;
}
